## Loading Librariees

In [1]:
import numpy as np
import pandas as pd

## Loading Data

In [24]:
#nike = pd.read_csv('./tmp/nke.us.txt')
#print (nike)

            Date      Open      High       Low     Close    Volume  OpenInt
0     1987-08-19   0.24563   0.24793   0.23872   0.24337  13249179        0
1     1987-08-20   0.24337   0.24793   0.24337   0.24563  13869472        0
2     1987-08-21   0.24793   0.24793   0.24337   0.24563   2780866        0
3     1987-08-24   0.24337   0.24563   0.24337   0.24337  12754334        0
4     1987-08-25   0.24104   0.27093   0.24104   0.26389  31767365        0
...          ...       ...       ...       ...       ...       ...      ...
7615  2017-11-06  55.29000  56.13000  55.14000  56.04000   9241026        0
7616  2017-11-07  55.75000  56.01500  55.02000  55.15000   7364880        0
7617  2017-11-08  55.00000  55.77000  54.89000  55.76000   7078567        0
7618  2017-11-09  55.50000  56.35000  55.31000  56.13000  10946206        0
7619  2017-11-10  55.88000  56.49000  55.62000  56.09000   7535726        0

[7620 rows x 7 columns]

In [33]:
nike = pd.read_csv('./tmp/NKE.csv')
print (nike)

            Date       Open       High        Low      Close  Adj Close  \
0     1980-12-02   0.179688   0.183594   0.179688   0.179688   0.000004
1     1980-12-03   0.177734   0.177734   0.175781   0.175781   0.000004
2     1980-12-04   0.181641   0.183594   0.181641   0.181641   0.000004
3     1980-12-05   0.175781   0.175781   0.171875   0.171875   0.000004
4     1980-12-08   0.164062   0.164062   0.162109   0.162109   0.000003
...          ...        ...        ...        ...        ...        ...
9914  2020-03-26  80.169998  86.860001  80.010002  84.300003  84.300003
9915  2020-03-27  81.699997  85.739998  79.510002  83.230003  83.230003
9916  2020-03-30  84.000000  85.959999  81.500000  85.379997  85.379997
9917  2020-03-31  85.129997  85.730003  82.400002  82.739998  82.739998
9918  2020-04-01  79.489998  81.180000  78.529999  79.230003  79.230003

           Volume
0     100710400.0
1      25177600.0
2      22694400.0
3       7590400.0
4       5414400.0
...           ...
9914   17200800.0
9915   14183400.0
9916   10960100.0
9917    9610100.0
9918    9770300.0

[9919 rows x 7 columns]

In [6]:
goldsachs = pd.read_csv('./tmp/gs.us.txt')
print (goldsachs)

            Date     Open     High      Low    Close    Volume  OpenInt
0     1999-05-04   67.665   68.780   62.329   62.659  24472946        0
1     1999-05-05   62.213   62.213   58.991   61.547   8295140        0
2     1999-05-06   60.542   61.773   59.712   60.488   3185852        0
3     1999-05-07   60.488   66.671   59.429   65.998   5331091        0
4     1999-05-10   65.331   65.441   62.549   62.941   2839054        0
...          ...      ...      ...      ...      ...       ...      ...
4656  2017-11-06  243.500  244.579  241.670  243.490   1733854        0
4657  2017-11-07  243.910  244.980  238.840  239.810   2435057        0
4658  2017-11-08  239.200  242.320  237.550  241.250   2349422        0
4659  2017-11-09  239.510  242.367  237.840  240.790   2122535        0
4660  2017-11-10  241.690  243.320  240.000  240.150   1844519        0

[4661 rows x 7 columns]

In [7]:
jpmorg = pd.read_csv('./tmp/jpm.us.txt')
print (jpmorg)

             Date      Open      High       Low     Close    Volume  OpenInt
0      1970-01-02    3.1254    3.1254    3.0920    3.1254     29448        0
1      1970-01-05    3.1254    3.1339    3.1004    3.1254     38447        0
2      1970-01-06    3.1254    3.1588    3.1087    3.1588     33540        0
3      1970-01-07    3.1671    3.2503    3.1671    3.2337     88350        0
4      1970-01-08    3.2254    3.2254    3.1838    3.2254     26177        0
...           ...       ...       ...       ...       ...       ...      ...
12069  2017-11-06  101.3400  101.6870  100.6600  100.7800   8115897        0
12070  2017-11-07  100.5600  100.7500   98.2500   98.7500  18808493        0
12071  2017-11-08   98.2700   98.3700   97.1500   97.6400  18517768        0
12072  2017-11-09   97.1200   98.2150   96.8100   97.6300  13692746        0
12073  2017-11-10   97.8100   98.3400   97.5000   97.5100   9312355        0

[12074 rows x 7 columns]

In [8]:
pfizer = pd.read_csv('./tmp/pfe.us.txt')
print (pfizer)

            Date     Open     High       Low    Close    Volume  OpenInt
0     1982-01-04   0.5243   0.5324   0.51690   0.5169   4176469        0
1     1982-01-05   0.5169   0.5169   0.50890   0.5089   7494341        0
2     1982-01-06   0.5009   0.5169   0.49294   0.5169  16681350        0
3     1982-01-07   0.5243   0.5324   0.51690   0.5243  26205667        0
4     1982-01-08   0.5324   0.5400   0.52430   0.5324  22575014        0
...          ...      ...      ...       ...      ...       ...      ...
9037  2017-11-06  35.2680  35.2880  34.80200  35.0000  10722965        0
9038  2017-11-07  34.9800  35.0990  34.92100  35.0400  10992031        0
9039  2017-11-08  35.0500  35.0700  34.71300  35.0200  13693200        0
9040  2017-11-09  35.0800  35.2500  34.84000  35.2000  13364668        0
9041  2017-11-10  35.1000  35.1900  34.79500  35.1800  15045115        0

[9042 rows x 7 columns]

In [9]:
jonnjon = pd.read_csv('./tmp/jnj.us.txt')
print (jonnjon)

             Date      Open      High       Low     Close   Volume  OpenInt
0      1970-01-02    0.6104    0.6104    0.5941    0.5941  1468563        0
1      1970-01-05    0.5941    0.5941    0.5776    0.5776  1185461        0
2      1970-01-06    0.5776    0.5864    0.5776    0.5864  1273931        0
3      1970-01-07    0.5864    0.5941    0.5864    0.5864   406950        0
4      1970-01-08    0.5864    0.5941    0.5864    0.5941   566189        0
...           ...       ...       ...       ...       ...      ...      ...
12069  2017-11-06  140.0100  140.4900  139.7200  139.7600  4220661        0
12070  2017-11-07  140.0800  140.1500  138.9100  139.7700  4194070        0
12071  2017-11-08  139.7000  141.8700  139.4600  141.3200  4440694        0
12072  2017-11-09  140.8600  141.4100  139.8000  140.3500  3516887        0
12073  2017-11-10  140.1300  140.1300  138.6100  139.5600  4240286        0

[12074 rows x 7 columns]

## Data Preprocessing

In [34]:
nike = nike[['Date', 'Open', 'High', 'Low', 'Close']]
nike['high_low'] = nike['High'] - nike['Low']
nike['open_close'] = nike['Open'] - nike['Close']
nike['mvavgo7'] = nike['Open'].rolling(window=7).mean()
nike['mvavgc7'] = nike['Close'].rolling(window=7).mean()
nike['mvavgo14'] = nike['Open'].rolling(window=14).mean()
nike['mvavgc14'] = nike['Close'].rolling(window=14).mean()
nike['mvavgo21'] = nike['Open'].rolling(window=21).mean()
nike['mvavgc21'] = nike['Close'].rolling(window=21).mean()
nike['sd7o'] = nike['Open'].rolling(window=7).std()
nike['sd7c'] = nike['Close'].rolling(window=7).std()
nike = nike[nike['mvavgc21'].notna()]
nike = nike.reset_index()
nike.head()

,index,Date,Open,High,Low,Close,high_low,open_close,mvavgo7,mvavgc7,mvavgo14,mvavgc14,mvavgo21,mvavgc21,sd7o,sd7c
0,20,1980-12-31,0.166016,0.167969,0.164062,0.164062,0.003906,0.001953,0.161551,0.160993,0.155134,0.154018,0.160342,0.158761,0.005255,0.004897
1,21,1981-01-02,0.167969,0.171875,0.167969,0.167969,0.003906,0.000000,0.163783,0.163225,0.156808,0.155971,0.159784,0.158203,0.003812,0.003716
2,22,1981-01-05,0.174805,0.177734,0.174805,0.174805,0.002930,0.000000,0.166434,0.165876,0.158831,0.157994,0.159645,0.158157,0.004138,0.004455
3,23,1981-01-06,0.175781,0.177734,0.175781,0.175781,0.001953,0.000000,0.168387,0.167829,0.160505,0.159668,0.159366,0.157878,0.004911,0.005421
4,24,1981-01-07,0.167969,0.167969,0.166016,0.166016,0.001953,0.001953,0.168945,0.168108,0.161621,0.160924,0.158994,0.157599,0.004546,0.005242

In [42]:
def tts(data):
    L = len(data)
    i = L - 15                             # Extracting last two weeks as test set
    train = data.iloc[0:i+1]
    test = data.iloc[i+1:L]
    return train,test

In [43]:
train_nike, test_nike = tts(nike)

## Exporting Data

In [47]:
train_nike.to_csv('./tmp/processed/train_nike.csv')
test_nike.to_csv('./tmp/processed/test_nike.csv')

In [48]:
nike.to_csv('./tmp/processed/nike.csv')